header {
    padding: 60px;
    text-align: center;
    background: #026930;
    color: white;
    font-size: 35px;
  }

/* TOP NAVIGATION BAR */
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

body {
    font-family: Arial, sans-serif;
    /* border: 2px solid powderblue; */
}

b{
  position: absolute;
   top: 60%; 
   left: 90%; 
  padding: 5px;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #691212;
  border-top: 2px solid #2b103d;
  border-bottom: 2px solid #2f9400;
  letter-spacing: 2px;
  transition: .3s;

}




body, html {
  height: 100%;
}

/* The hero image */
.hero-image {
/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/kabaddi1.jpg");

/* Set a specific height */
height: 50%;

/* Position and center the image to scale nicely on all screens*/
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position:  relative;
}

/* Place text in the middle of the image*/
.hero-text {
text-align: center;
font-family:  Cambria, sans-serif;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
}

.dark-mode {
  background-color: black;
  color: white;
}

.light-mode {
  background-color: white;
  color: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

b:hover{
  letter-spacing: 10px;
}
