header {
    padding: 60px;
    text-align: center;
    background: #026930;
    color: white;
    font-size: 35px;
  
  }
body {
    font-family: Arial, sans-serif;
    border: 2px solid powderblue;
}

a{
  position: absolute;
  top: 50%;
  left:50%;
  padding: 15px 0;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #262626;
  border-top: 2px solid #262626;
  border-bottom: 2px solid #262626;
  letter-spacing: 2px;
  transition: .5s;

}
a:hover{
  letter-spacing: 10px;
}
